<nav>
  <!-- hamburger-btn -->
  <input type="checkbox" id="hamburger" class="peer" hidden>

  <label for="hamburger" class="peer-checked:hamburger-btn block z-20 cursor-pointer md:hidden transition p-5 hover:bg-gray-200 dark:hover:bg-slate-700 rounded">

    <div class="h-0.5 w-6 bg-black dark:bg-white transition"></div>
    <div class="mt-2 h-0.5 w-6 bg-black dark:bg-white transition"></div>

  </label>

  <div role="navigation" class="
  fixed w-3/5 inset-0 pt-32 flex flex-col justify-between z-10 shadow-lg translate-x-[-100%] peer-checked:translate-x-0 md:translate-x-0 transition bg-white dark:bg-slate-900 md:static md:w-auto md:p-0 md:shadow-none dark:md:bg-slate-800">
    
    <!-- nav-items -->
    <ul class="flex flex-col ml-4 gap-6 md:gap-3 md:flex-row md:items-center">
      <li><a href="#" class="nav-btn hover:bg-blue-500">Caracteristicas</a></li>
      <li><a href="#" class="nav-btn hover:bg-yellow-400">Ayuda</a></li>
      <li><a href="#" class="nav-btn hover:bg-indigo-500">Componentes</a></li>
      <li><a href="#" class="nav-btn hover:bg-pink-500">Idiomas</a></li>
    </ul>

    <!-- download-btn -->
    <div aria-label="download-button-container" class="md:hidden border-t px-6 py-8 dark:border-slate-700">
      <button class="bg-blue-500 active:bg-blue-400 px-6 py-2 rounded text-white text-lg font-semibold">Descargar</button>
    </div>
  </div>
</nav>